{% import _self as macros %}

{% set scope = [
    "Преподователь 1",
    "Преподователь 2",
    "Преподователь 3",
    "Преподователь 4",
    "Преподователь 5",
] %}

{% macro content(scope) %}
    <form method="post" action="{{ route('create-disciplines') }}">
        <div class="Form">
            <div class="Form__header">
                <p>Создание дисциплины</p>
            </div>
            <label for="name" class="Form__label">Название дисциплины:</label>
            <input type="text" id="name_discipline" class="Form__field" required>
            <label for="teacher" class="Form__label">Преподаватель</label>
            <div class="Form__list--teacher">
                <select name="teacher" id="teacher-select" class="List__teacher Form__field" required>
                    {% for item in scope %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="Form__button" type="submit" id="add_disciplines" name="submit">
                Добавить дисциплину
            </button>
        </div>
    </form>

{% endmacro %}

{{ macros.content(scope) }}