{% import _self as macros %}

{% set scope = {
    items: items ?? [],
} %}

{% macro content(scope) %}
    <div class="GroupList">
        <div class="GroupList__header">
            <h2 class="GroupList__title">
                Группы
            </h2>
            <a href="{{ route('create-group') }}" class="Button Button--primary GroupList__button">
                Добавить группу
            </a>
        </div>
        <div class="GroupList__scrollable">
            <ul class="GroupList__list">

                {% for item in scope.items %}
                    {% set item = {
                        name: item.name ?? '',
                    } %}

                    <li class="GroupList__item">
                        <p class="GroupList__itemName">
                            {{ item.name }}
                        </p>
                        <a class="Button Button--primary LinkWhite" href="{{ route('create-disciplines') }}" class="GroupList__itemButton">
                            Добавить дисциплину
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endmacro %}

{{ macros.content(scope) }}