{% import _self as macros %}

{% macro content(scope) %}
    <div class="Header">
        <div class="Header__logo">
            Логотип
        </div>
        <div class="Header__menu">
            <a href="" class="Header__menuItem">
                Группы и<br>дисциплины
            </a>
            <a href="" class="Header__menuItem">
                Регистрация<br>студентов
            </a>
        </div>
        {% if (auth_check()) %}
            <a class="Header__logoutButton" href="{{ route('logout') }}">
                Выйти из системы
            </a>
        {% endif %}
    </div>
{% endmacro %}

{{ macros.content(scope) }}
