{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            name: 'Группы и<br>дисциплины',
        },
        {
            url: '/',
            name: 'Регистрация<br>студентов',
        },
    ],
} %}

{% macro content(scope) %}
    <div class="Header">
        <div class="Header__logo">
            Логотип
        </div>
        <div class="Header__menu">
        
            {% for item in scope.menu %}
                {% set item = {
                    url: item.url ?? '',
                    name: item.name ?? '',
                } %}
                
                <a class="Header__menuItem LinkWhite" href="{{ item.url }}">
                    {{ item.name|raw }}
                </a>
            {% endfor %}
            
        </div>
        {% if (auth_check() or true) %}
            <a class="Button Button--primary Header__logoutButton LinkWhite" href="{{ route('logout') }}">
                Выйти из системы
            </a>
        {% endif %}
    </div>
{% endmacro %}

{{ macros.content(scope) }}
