{% import _self as macros %}

{% set scope = scope ?? [] %}

{% macro content(scope) %}
    <div class="SectionStudy">
        <div class="Section SectionStudy">
            <div class="Section__header">
                <h2 class="Section__title">
                    Разделы
                </h2>
                {% if (auth_user().role == 'teacher' or auth_user().role == 'head')%}
                    <button type="button" class="Section__button" data-uk-toggle="#create_section">
                        Добавить раздел
                    </button>
                {% endif %}
            </div>
            <table class="SectionStudy__table">
                <tr>
                    <th>Название раздела</th>
                    <th>Описание</th>
                </tr>
                {% for item in scope %}
                    <tr>
                        <td><a href="{{ route('section', [item.id]) }}" class="SectionStudy__link">{{ item.name }}</a></td>
                        <td>{{ item.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endmacro %}

{{ macros.content(scope) }}
