{% extends 'layouts/base.twig' %}

{% set scope = {
    students: users,
    groups: groups,
} %}

{% block main %}
    <div class="MiddleBlock">
        <div class="ContentContainer">
            {% include 'components/student-list.twig' with{
                items: scope.students,
                groups: scope.groups,
            } %}
        </div>
    </div>
{% endblock %}

