{% extends 'layouts/base.twig' %}

{% set scope = {
    students: users,
    groups: groups,
} %}

{% block main %}
    <div class="MiddleBlock">
        <div class="ContentContainer">
            {% if scope.students %}
                {% include 'components/student-list.twig' with{
                    items: scope.students,
                    groups: scope.groups,
                } %}
            {% else %}
                <p class="StudentList__title" >Нет студентов на подтверждение</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

