{% extends 'layouts/base.twig' %}

{% block title %}Страница создание учебных дисциплин{% endblock %}

{% block main %}
    <div class="CenteredBlock">
        {% include 'components/forms/create-disciplines-form.twig' %}
    </div>
{% endblock %}

{% block modals %}
    {% include 'components/modal-create-section.twig' %}
{% endblok %}