{% extends 'layouts/base.twig' %}

{% block title %}Страница создание учебных дисциплин{% endblock %}

{% block main %}
    <div class="CenteredBlock">
        {% include 'components/create-disciplines-form.twig' %}
    </div>
{% endblock %}