{% extends 'layouts/base.twig' %}

{% set scope = {
    department: department,
} %}

{% block main %}
    <div class="CenteredBlock">
        {% include 'components/forms/create-group-form.twig' with { department: scope.department } %}
    </div>
{% endblock %}
