{% extends 'layouts/base.twig' %}

{% block title %}Страница выбранной дисциплины{% endblock %}

{% set scope = {
    discipline: subject,
    teacher: teacher,
    group: group,
    sections: sections,
} %}

{% block main %}
    <script type="text/javascript">
        var id = {{ scope.discipline.id }};
    </script>
    <div class="MiddleBlock DividerBlock">
        {% include 'components/discipline-info.twig' with {
            discipline: scope.discipline,
            teacher: scope.teacher.name ~ ' ' ~ scope.teacher.surname?? '',
            group: scope.group,
        } %}
        {% include 'components/section-table.twig' with {
            scope: scope.sections,
        } %}
    </div>
{% endblock %}
