{% extends 'layouts/base.twig' %}

{% set scope = {
    subjects: subjects,
    teachers: teachers,
    groups: groups
} %}

{% block main %}
    <div class="MiddleBlock">
        {% include 'components/subject-table.twig' with{
            subjects: scope.subjects,
            teachers: scope.teachers,
            groups: scope.groups,
            showGroup: true,
            showTeacher: false,
        } %}
    </div>
{% endblock %}

