{% extends 'layouts/base.twig' %}

{% set scope = {
    departments: departments,
    heads: heads,
    list: list,
}  %}

{% block main %}
    <div class="ContainerSection">
        <div class="uk-margin Section__search">
            <form class="uk-search uk-search-default">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>
        {% include 'components/admin-table.twig' with {
            departments: scope.departments,
            heads: scope.heads,
        } %}
    </div>
{% endblock %}

{% block modals %}
    {% include 'components/modals/modal-create-department.twig' with {
        list: scope.list,
    } %}
{% endblock %}

{% block modalWindow %}
    {% include 'components/modals/modal-change-department.twig' with {
        list: scope.list,
    } %}
{% endblock %}

