{% extends 'layouts/base.twig' %}

{% set scope = {
    subjects: subjects,
    teachers: teachers,
    groups: groups
} %}

{% block main %}
    <div class="MiddleBlock">
        <div class="ContentContainer">
            {% include 'components/subject-table.twig' with{
                subjects: scope.subjects,
                teachers: scope.teachers,
                groups: scope.groups,
                showGroup: false,
                showTeacher: true,
            } %}
        </div>
    </div>
{% endblock %}

