{% extends 'layouts/base.twig' %}

{% block title %}Уведомления{% endblock %}

{% set scope = {
    notifications: notifications,
} %}

{% block main %}
    <div class="MiddleBlock">
        <div class="ContentContainer">
            <div class="Notification__message">
                <a href="" class="Notification__message--text">Отметить всё как прочитанное</a>
            </div>
                {% include 'components/notification.twig' with {
                    notifications: scope.notifications,
                } %}
        </div>
    </div>
{% endblock %}
