{% extends 'layouts/base.twig' %}

{% block main %}
    <div class="CenteredBlock FormContainer">
        {% include 'components/forms/register-form.twig' with {
            'groups': groups,
        } %}
    </div>
{% endblock %}

