{% extends 'layouts/base.twig' %}

{% set scope = {
    section: section,
    comments: comments,
    users: users,
} %}

{% block main %}
    <div class="ContainerSection">
        {% include 'components/study-section-post.twig' with {
            scope: scope,
        } %}
    </div>
{% endblock %}
