{% extends 'layouts/base.twig' %}

{% set scope = {
    section: section,
    comments: comments,
    users: users,
    replies: replies,
} %}

{% block main %}
    <div class="MiddleBlock">
        <div class="ContentContainer">
            {% include 'components/study-section-post.twig' with {
                scope: scope,
            } %}
        </div>
    </div>
{% endblock %}
