{% extends 'layouts/base.twig' %}

{% set scope = {
    user: user,
} %}

{% block main %}
    <div class="MiddleBlock">
        <div class="ContentContainer">
            {% include 'components/user-profile.twig' with{
                user: user,
            } %}
        </div>
    </div>
{% endblock %}

