.Form {
    background-color: #6995D0;
    border-radius: 20px;
    padding: 38px;
    width: 340px;
    display: flex;
    flex-direction: column;
}
.Form__header {
    margin-bottom: 16px;
    text-align: center;
    font-family: Arial;
    font-size: 38px;
    font-weight: bold;
}
.Form__label {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.Form__field {
    padding: 12px 20px;
    margin-bottom: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    font-family: Arial;
}
.Form__fileChooser::file-selector-button {
    background-color: #3B63AB;
    padding: 12px 20px;
    margin-top: 0px;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.Form__fileChooser::file-selector-button:hover {
    background-color: #3159A1; /* #3B63AB но на ~10% темнее */ 
}
.Form__fileChooser::file-selector-button:active {
    background-color: #224A92; /* #3B63AB но на ~25% темнее */ 
}
.Form__button {
    background-color: #3B63AB;
    padding: 12px 20px;
    margin-top: 12px;
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.Form__button:hover {
    background-color: #3159A1; /* #3B63AB но на ~10% темнее */ 
}
.Form__button:active {
    background-color: #224A92; /* #3B63AB но на ~25% темнее */ 
}
.Form__hint {
    text-align: center;
    font-family: Arial;
}