.Header {
    display: flex;
    padding: 8px 16px;
}
.Header__logo {
    color: white;
    font-family: Arial;
    font-size: 38px;
    font-weight: bold;
}
.Header__menu {
    margin-left: 36px;
    display: flex;
    align-items: center;
}
.Header__menuItem {
    margin-right: 16px;
    display: flex;
    color: white;
    font-family: Arial;
}
.Header__logoutButton {
    background-color: #3B63AB;
    margin-left: auto;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.Header__logoutButton:hover {
    background-color: #3159A1; /* #3B63AB но на ~10% темнее */ 
}
.Header__logoutButton:active {
    background-color: #224A92; /* #3B63AB но на ~25% темнее */ 
}