body {
    margin: 0px;
}

.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    &__header {
        background-color: $color-lightblue;
        padding: 5px 5px;
    }   
    
    &__main {
        background-color: $color-lightgray;
        flex: 1;
        padding: 24px 0px;
        display: flex;
    } 
    
    &__footer {
        background-color: $color-darkblue;
        padding: 5px 5px;
    }
}

.CenteredBlock {
    margin: auto;
}

.MiddleBlock {
    margin: 0 auto;
    width: 1400px;
}

.DividerBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 1400px;
    height: 800px;
    
    @include vw-lg-down {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }
    
    div {
        overflow: hidden;
    }
}