body {
    margin: 0px;
}

.Layout {
    background-color: $color-lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 280px;
    &__header {
        background-color: $color-lightblue;
        padding: 8px 16px;
    }

    &__main {
        flex: 1;
        padding: 24px 0px;
        display: flex;
    }
}

.FormContainer {
    background-color: $color-lightblue;
    border-radius: 20px;
    padding: 38px;

    @include vw-sm-down {
        border-radius: 0;
        padding: 16px;
    }
}

.ContentContainer {
    margin: 0 16px 16px;
    background-color: $color-white;
    border-radius: 20px;
    padding: 38px;

    @include vw-sm-down {
        border-radius: 0;
        margin: 0 0 16px;
        padding: 16px;
    }
}

.CenteredBlock {
    margin: auto;

    @include vw-sm-down {
        width: 100%;
    }
}

.MiddleBlock {
    margin: 0 auto;
    width: 1400px;

    @include vw-sm-down {
        width: 100%;
    }
}

.DividerBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 1400px;
    //height: 840px;

    @include vw-lg-down {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
    }

    & > div {
        overflow: auto;
    }
}
