.Notification {
  &__no {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  &__section {
    padding: 16px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    @include vw-sm-down {
      padding: 8px;
      display: flex;
      flex-direction: column;
    }
  }

  &__message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;

    &--text {
      font-size: 18px;
      text-decoration: none;
      color: blue;
      margin-right: 8px;
    }

    &--text:hover {
      text-decoration: underline;
      cursor: default;
    }

    &--count {
      display: block;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 18px;
      border: 2px solid $color-darkblue;
      border-radius: 12px;
      margin-right: 2px;
      color: $color-darkblue;
    }
  }

  &__text {
    @include vw-sm-up {
      margin-right: 16px;
    }
  }

  &__buttonMessage {

    @include vw-sm-down {
      margin-top: 8px;
    }
  }

  &__buttonReadAll {
    margin-bottom: 16px;
  }

  &__button:hover {
    text-decoration: underline;
  }
  
  &__point {
    @include vw-sm-down {
      min-width: 16px;
      min-height: 16px;
    }
  }
}