{% import _self as macros %}

{% macro content() %}
    <form method="post" action="{{ route('create-group') }}">
        <div class="Form">
            <div class="From__header">
                <p>Создание группы</p>
            </div>
            <label for="full_name" class="Form__label">Название группы (полное):</label>
            <input type="text" id="name_full_group" class="Form__field" required>
            <label for="reduction_name" class="Form__label">Название группы (сокращенное):</label>
            <input type="text" id="reduction_name_group" class="Form__field" required>
            <label for="code" class="Form__label">Шифр направления:</label>
            <input type="text" class="Form__field" required>
            <label for="date_of_formation" class="Form__label">Дата формирования:</label>
            <input type="date" class="Form__field" required>
            <button class="Button Button--primary Form__button" type="submit" id="add_group" name="submit">
                Добавить группу
            </button>
        </div>
    </form>
{% endmacro %}

{{ macros.content() }}