.Comment {
  display: block;
  width: auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 8px 16px;
  margin-top: 8px;

  &__avatar {
    img {
      width: 40px;
      height: 40px;
      float: left;
      margin-right: 10px;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin: 0 16px;
    margin-bottom: 8px;
    font-family: Arial, sans-serif;

    &__name {

    }

    &--date {
      color: gray;
    }
  }

  &__text {
    font-size: 16px;
    font-style: normal;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__button {
    font-size: 16px;
    color: #224A92;
  }



  &__file {
    &--image {
      width: 20px;
      height: 20px;
    }
  }
}

.reply_comment {
  font-size: 16px;
  color: #224A92;
}

.reply_comment:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Reply__text {
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  border-left: solid 3px #dcdcdc;
  background-color: snow;
}
