.Form {
    width: 340px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    @include vw-sm-down {
        width: auto;
        max-width: 300px;
    }
    
    &__header {
        margin-bottom: 16px;
        text-align: center;
        font-family: Arial;
        font-size: 38px;
        font-weight: bold;
    
        @include vw-sm-down {
            font-size: 28px;
        }
    }
    
    &__label {
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }
    
    &__field {
        padding: 12px 20px;
        margin-bottom: 8px;
        border: 1px solid grey;
        border-radius: 4px;
        font-family: Arial;
    }
    
    &__fileChooser {
        margin-top: 0px;
        margin-bottom: 8px;
    }
    
    &__fileChooser::file-selector-button {
        @extend .uk-button;
        @extend .uk-button-primary;
        margin-right: 8px;
    }
    
    &__button {
        margin-top: 0px;
        margin-bottom: 8px;
    }
    
    &__hint {
        text-align: center;
        font-family: Arial;
        a {
            text-decoration: underline;
        }
    }
}