.GroupList {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__header {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    } 
    
    &__title {
        margin: 0;
        font-family: Arial;
        font-size: 38px;
        font-weight: bold;
    
        @include vw-sm-down {
            font-size: 28px;
        }
    } 
    
    &__button {
        margin-left: auto;
    }
    
    &__scrollable {
        overflow-y: auto;
    } 
    
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    } 
    
    &__item {
        background-color: $color-lightblue;
        margin-bottom: 2px;
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-radius: 4px;
        
        @include vw-sm-down {
            flex-direction: column;
        }
    }
    
    &__itemName {
        margin: 0;
        margin-left: 12px;
        font-family: Arial;
        
        @include vw-sm-down {
            margin-left: 0px;
            margin-bottom: 4px;
        }
    }
    
    &__itemButton {
        
        @include vw-sm-down {
            margin-left: auto;
            line-height: 32px;
        }
    }
}