.ContainerSection {
  padding: 40px 40px;
  width: 100%;
  min-height: 100vh;
}

.Section {  
  &__block {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__search {
    position: center;
  }
}

.PostSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__header {
       margin-bottom: 16px;
    }

    &__title {
        margin: 0;
        font-family: Arial;
        font-size: 38px;
        font-weight: bold;
    
        @include vw-sm-down {
            font-size: 28px;
        }
    }

    &__main {
        display: block;
        margin: 16px;
        font-size: 16px;
    }

    &__text {
        font-size: 16px;
    }

    &__comments {
        width: 100%;
        margin: 20px;
    }

    &__titleComment {
        font-size: 18px;
        font-style: italic;
    }

    &__newComments {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__addComments {
        max-width: 650px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        &--label {
          font-size: 18px;
          font-style: italic;
          margin-bottom: 8px;
        }

        &--textarea {
          max-width: 650px;
          min-height: 150px;
          margin-bottom: 8px;
        }
    }

    &__addFile {
    }

    &__button {
    }
}