.StudentList {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__header {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    } 
    
    &__title {
        margin: 0;
        font-family: Arial;
        font-size: 38px;
        font-weight: bold;
    
        @include vw-sm-down {
            font-size: 28px;
        }
    } 
    
    &__scrollable {
        overflow-y: auto;
    } 
    
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    } 
    
    &__item {
        background-color: $color-lightblue;
        margin-bottom: 2px;
        padding: 4px;
        border-radius: 4px;
        display: grid;
        grid-template-areas: 
            "image name email group button";
        grid-template-columns: 50px repeat(3, 1fr) 152px;
        column-gap: 12px;
        row-gap: 4px;
        
        @include vw-sm-down {
            grid-template-areas: 
                "image button"
                "name name"
                "email email"
                "group group";
            grid-template-columns: 50px 1fr;
        }
    }
    
    &__itemImage {
        grid-area: image;
        height: 49px;
    }
    
    &__itemName,&__itemEmail,&__itemGroup {
        margin: 0;
        font-family: Arial;
    }
    &__itemName {
        grid-area: name;
    }
    &__itemEmail {
        grid-area: email;
    }
    &__itemGroup {
        grid-area: group;
    }
    
    &__itemButton {
        grid-area: button;
        justify-self: end;
    }
}