.SubjectTable {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__header {
        margin-bottom: 16px;
    } 
    
    &__title {
        margin: 0;
        font-family: Arial;
        font-size: 38px;
        font-weight: bold;
    
        @include vw-sm-down {
            font-size: 28px;
        }
    } 
    
    &__scrollable {
        overflow-y: auto;
    } 
    
    &__table {
        width: 100%;
    } 
}